# Python cache & temp
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.tmp
*.log

# 🧪 Environment
venv/
.env
.env.*

# Hệ điều hành
.DS_Store
Thumbs.db

# VS Code
.vscode/


# PyInstaller
build/
dist/
*.spec

# Streamlit cache (nếu chạy nhiều lần)
.streamlit/

# Test Reports
reports/
